/* .prueba{
    position: relative;
    width: 500px;
    height: 300px;
    background-color: red;
} */

/* .prueba::before{    
    content: "";    
    position: absolute;
    top: 99%;
    left: 45%;
    width: 0; 
    height: 0;  
    border-right: 25px solid transparent;  
    border-left: 25px solid transparent;
    border-top: 40px solid red;    
} */
@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?5qrt4v');
    src:  url('fonts/icomoon.eot?5qrt4v#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?5qrt4v') format('truetype'),
      url('fonts/icomoon.woff?5qrt4v') format('woff'),
      url('fonts/icomoon.svg?5qrt4v#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-redo:before {
    content: "\e900";
  }
  .icon-pinterest:before {
    content: "\e901";
  }
  .icon-twitter:before {
    content: "\e902";
  }
  .icon-facebook:before {
    content: "\e904";
  }
  
  /* Icons */
main, 
footer{
    width: 100%;
    height: 100%;
}
body{
    padding: 0;
    margin: 0;
    width: 100%;    
    height: 100vh;
    display: grid;
    grid-template: 1fr 50px / 1fr;        
    font-size: 13px;
    font-family: 'Manrope', sans-serif;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(210, 46%, 95%);
}

.card{    
    border: none;    
    border-radius: 20px;
    width: 50%;    
    max-width: 780px;
    min-width: 700px;    
    background-color: white;
    color: hsl(217, 19%, 35%);
    box-shadow: 0 0 20px 1px hsl(212, 23%, 69%);
    
    display: grid;    
    grid-template: 1.5fr 1fr 0.5/ 1fr 1fr 1fr 1fr 1fr;    
    grid-template-areas: "img img img title title"
                         "img img img des des"
                         "img img img av av";
}

.card-img{        
    grid-area: img;    
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
}

.card-img img{
    width: inherit;    
    height: inherit;
    object-fit: cover;     
}

.title{
    grid-area: title;
    padding: 35px 65px 0 50px;
    font-weight: 700;    
    margin: 0;
}
.description{
    grid-area: des;
    padding: 10px 50px;
    font-weight: 500;
    margin: 0;    
}
.avatar{    
    position: relative;
    grid-area: av;    
    display: flex;        
    justify-content: space-between;
    padding: 10px 40px 35px 50px;
    margin: 0;
}

.user{
    display: flex;    
}

.avatar-img{    
    width: 50px;    
    height: 50px;    
    border-radius: 50%;    
    overflow: hidden;    
}
.info{
    margin-left: 10px;
}


.info .name{
    margin: 0;
    
}

.info .date{
    margin: 0;
}
.avatar-img img{
    width: inherit;        
}

.share{    
    border-radius: 50%;
    border: none;
    outline: none;    
    width: 35px;
    height: 35px;
    font-size: 1.2em;
    background-color: hsl(210, 46%, 95%);
    color: hsl(217, 19%, 35%); 
}

.share-clicked{
    color: hsl(210, 46%, 95%);
    background-color: hsl(217, 19%, 35%); 
}


.share:hover{
    transform: scale(1.1);
}

.flotante{   
    left: 60%;
    bottom: 115%;
    position: absolute;             
    width: 200px;
    height: 20px;    
    background-color: hsl(217, 19%, 35%);     
    width: 52%;   
    height: 60%;
    box-shadow: 0 0 20px 1px hsl(212, 23%, 69%);
    border-radius: 15px;
    visibility: hidden;
    opacity: 0;
    transition: 300ms 100ms ease;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;            
}

.flotante-open{
    visibility: visible;
    opacity: 1;
}

 .flotante::before{    
    content: "";    
    position: absolute;
    top: 99%;
    left: 45%;
    width: 0; 
    height: 0;  
    border-right: 12px solid transparent;  
    border-left: 12px solid transparent;
    border-top: 12px solid hsl(217, 19%, 35%);        
    
}
.modal-content{
    font-size: 20px;
    color: hsl(210, 46%, 95%);
    margin: 0 5px;
}

.word{
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 100;
}
 

.icon{
    text-decoration: none;
    
} 
footer{
    display: flex;    
    align-items: center;
    justify-content: center;
}
.attribution {     
    font-size: 11px; text-align: center; 
}
    
.attribution a { 
    color: hsl(228, 45%, 44%); 
}



