/* .prueba{
    position: relative;
    width: 500px;
    height: 300px;
    background-color: red;
} */

/* .prueba::before{    
    content: "";    
    position: absolute;
    top: 99%;
    left: 45%;
    width: 0; 
    height: 0;  
    border-right: 25px solid transparent;  
    border-left: 25px solid transparent;
    border-top: 40px solid red;    
} */
main, 
footer{
    width: 100%;
    height: 100%;
}
body{
    padding: 0;
    margin: 0;
    width: 100%;    
    height: 100vh;
    display: grid;
    grid-template: 1fr 50px / 1fr;        
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(210, 46%, 95%);
}

.card{    
    border: 1px solid red;
    width: 50%;    
    display: grid;    
    grid-template: repeat(3, 1fr) / 2fr 3fr;
    grid-template-areas: "img title"
                         "img des"
                         "img av";
}

.card-img{        
    grid-area: img;
    object-fit: cover;
    width: 100%;
    height: auto;
}

.title{
    grid-area: title;
}
.description{
    grid-area: des;
}
.avatar{
    grid-area: av;    
    display: flex;    
    border-radius: 50%;
    
}

.avatar-img{    
    width: 50px;    
    height: 50px;
}

.attribution { 
    font-size: 11px; text-align: center; 
}
    
.attribution a { 
    color: hsl(228, 45%, 44%); 
}


